table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    border: 2px solid hotpink;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    
  }

  td{
    cursor: pointer;
  }
  
  th {
    background-color: pink;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2
  }
  
  tr:hover {
    background-color: #ddd;
  }