

#filter{
    width: 200px;
    height: 30px;
    margin: 40px 10px;
    font-size: large;
    border: pink 2px solid;
    cursor: pointer;
}
button#dodajTestDugme{
    width: 150px;
    height: 30px;
    border: 0px;
    background-color: pink;
    color: white;
    font-size: large;
    cursor: pointer;
    font-weight: bold;
}

 div#testovi,#testovi2{
     display: flex;
    flex-wrap: wrap;
} 
.test {
	background-color: white;
    border: pink 2px solid;
	border-radius: 5px;
	/*flex-basis: 30%;*/
	margin: 1em;
	padding: 1em;
    height: 180px;
    width: 210px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.test-button {
   
  margin: 0 auto;
  height: 50px;
  width: 50px;
}

div#trenutno, #prethodni{
    margin: 20px;
}